@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
}
.name {
    font-size:22px;
    text-align: center;
    margin: 5px;
}
.container {
    max-width: 800px;
    margin: auto;
    padding-top: 30px;
}
body {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000000;
    background: #138787;
    line-height: 3rem;
}
.card {
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    border: 2px solid #4B0082;
    border-radius: 30px;
    background-color: #4f9948;
    padding-left: 100px;
    margin-bottom: 5px;
}

.message {
    font-size: 20px;
    border: 2px solid #4B0082;
    border-radius: 30px;
    background-color: #987ef5;
    padding-left: 100px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.avatar {
    display: block;
    margin: 0 auto;
    width: 200px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 1);
    border-radius: 30px;
}
.btn {
    background: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
    display: block;
    margin: 5px auto;
}
.btn:hover {
    opacity: 0.8;
    color: green;
}
.btn:visited {
    background: #4B0082;
}
a {
    text-decoration: none;
    transition: all .2s;
}
a:hover {
    color: #de4c1f;
    font-size: 2rem;
    text-decoration: underline;
}
a:active {
    color: #0576b8;
}
a:visited {
    color: #333333;
}
.table {
    width: 100%;
    padding: 0;
}
.table  {
    text-align: left;
    padding-bottom: 8px;
}
.table td:hover {
    background: #de4c1f;
}
.table td:nth-child(2), .table  td:nth-child(3) {
    background-color: #7dec74;
}
