/*Class name*/

.html {
    background: #de4c1f;
    color: white;
    /*margin-bottom: 15px;*/
}
.css {
    background: #0576b8;
    color: white;
    /*margin-bottom: 30px;*/
}
.header {
    border-bottom: 2px solid green;
}
.card {
    padding: 10px;
}
.color {
    color: red;
}

/*Tag name*/

body {
    background: #ddd;
    padding: 10px;
}

/*ID */

#navigation {
    background: #eee;
}
/*От родительского тега к дочернему*/
.card p {
    font-size: 20px;
}
/*Множественный селектор*/
#header, .html, .css {
    margin-bottom: 10px;
}
/*Все елементы*/
* {

}
/*Шрифт*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
body {
    /*font-family: Verdana, Georgia, sans-serif;*/

    font-family: 'Roboto', sans-serif; /*подключ внеш шрифт*/
    font-size: 18px; /*размер текста*/
    font-weight: bold;   /*жирность текста*/
    /*||*/
    /*font: normal 20px 'Roboto', sans-serif;*/

    line-height: 1.6em;
    /*text-decoration: line-through;зачеркнутый текст*/
    font-style: italic; /*наклонный текст*/
    letter-spacing: 2px;/*отступ между символами*/
    word-spacing: 2px;/*отступ между word*/
}
/*конкретн эл*/
/*.css p {
    font-family: Verdana;
    font-size: 20px;
    font-weight: bold;
}*/

/*Цвета*/
.color-1 {
    color: darkmagenta;
}
.color-2 {
    color: #4B0082;
/* min 00 - max FF   */
}
.color-3 {
    color: #000;
}
.color-4 {
    color: rgb(255, 0, 255);
    opacity: 0.2;
/*min0 - max255    */
}
.color-5 {
    color: rgba(0, 150, 0, 0.2);
}
/*Границы*/
.border-1 {
   /* border-width: 2px;
    border-style: solid;
    border-color: #4B0082;*/
    border: 2px solid #4B0082;
    /*border-style: dashed;!* изменить только 1*!*/
    border-radius: 7px;
}
.circle {
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
}
/*bottom, top, right, left*/
.border-2 {
    border-bottom: 2px solid darkblue;
    border-right: 6px solid green;
    border-bottom-right-radius: 10px;
}
.border-3 {
    border-left: 6px solid red;
    background: lightcoral;
    padding-left: 20px;
    color: #fff;
}
/*Ссылки*/
a {
    color: #333;
    text-decoration: none;
    transition: all .2s;
}
/*при наведении*/
a:hover {
    color: #de4c1f;
    font-size: 2rem;
}
/*
a:visited {
    color: red;
}*/
a:active {
    color: #0576b8;
}
.css:hover {
    background: red;
}
.btn {
    background: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
}
.btn:hover {
    opacity: 0.8;
    color: #de4c1f;
}
/*списки и таблицы*/
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.list li {
    margin-bottom: 8px;
    border-bottom: 1px solid green;
}
.table {
    width: 100%;
}
.table td {
    text-align: center;
    padding-bottom: 10px;/*отступы между стр*/
}
.table td:hover {
    background: #eeefff/*езмен цвет при наведении*/
}
.table tr:nth-child(odd) {
    background: #eee;
}/*подсветка каждой четной стр event || не чётн odd*/
.table td:nth-child(2), .table td:nth-child(4) {
    background: #fffeee;
}/*подсветка столбца 2 & 4*/
.navbar {
    background: lightcoral;
    /*padding: 10px 20px;*/
    margin-bottom: 10px;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /*все елем в линию*/
    padding: 0 20px;
}
.navbar ul li {
    margin-right: 10px;
    padding: 10px;
}
.navbar ul li:hover {
    background: #ea6767;
}
.navbar ul li:last-child {
    margin-right: 0;
}
